manifest {
    name = 'Nextflow composable configurations'
    author = 'Abhinav Sharma <abhi18av@outlook.com>'
    mainScript = 'main.nf'
    defaultBranch = 'master'
    description = 'A test to explore composable configurations'
    homePage = 'https://github.com/abhi18av/nextflow_composable_configurations'
    nextflowVersion = '>=20.01.0-edge'
}

profiles {
    // The default profile
    standard {
        process {
            includeConfig "./config/scopes/process.standard.config"
        }

        docker {
            includeConfig "./config/scopes/docker.standard.config"
        }

    }

    // Profile for dockerhub
    includeConfig "./config/profiles/dockerhub.config"

}
