dockerhub {
    // Include the docker defaults
    includeConfig "../scopes/docker.standard.config"

    process {
        // Include the process defaults
        includeConfig "../scopes/process.standard.config"

        // Override the fields specific to this profile
        ext {
            registry = "gcr"
            project = "Private docker registry on GCR"
        }
    }

}
